@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h2 class="centered">About</h2>
    <h3 class="centered">What I Wish I'd Known Before My Mission</h3>
</div>

<div class="container">
    <div class="col-xs-6">
        <p>This company was created to help connect future missionaries with former missionaries, so that advice can be shared and friendships can be created and continued.</p>
    </div>
    <div class="col-xs-6">
        <img class="img-responsive" src="~/Content/Images/missionaries.jpg" alt="Missionaries" />
    </div>
</div>
