@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="bs-calltoaction bs-calltoaction-default">
        <div class="row coolcolor">
            <div class="col-xs-9 cta-contents coolcolor">
                <h1 class="cta-title">Called to Serve</h1>
                <div class="cta-desc coolcolor">
                    <p>Are you a future missionary?</p>
                    <p>Wish you could remember more of your mission?</p>
                </div>
            </div>
            <div class="col-xs-3 cta-button coolcolor">
                <br />
                <a href="#" class="btn btn-lg btn-block btn-primary">Connect Here!</a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-6">
        <h3 class="centered">Hastening the Work of Salvation</h3>
        <br />
        <p class="centered"><iframe width="420" height="345" src="https://www.youtube.com/embed/ozK1P5NVyNw"></iframe></p>
        <blockquote>“A man who is full of the love of God is not content with blessing his family only, but thinks about all of the people in the world, anxious to bless the whole human race.” --Joseph Smith</blockquote>
    </div>
    <div class="col-xs-6">
        <blockquote>“I have often said that one of the greatest secrets of missionary work is work! If a missionary works, he will get the Spirit; if he gets the Spirit, he will teach by the Spirit; and if he teaches by the Spirit, he will touch the hearts of the people and he will be happy. Work, work, work—there is no satisfactory substitute, especially in missionary work.” --Ezra Taft Benson</blockquote>
        <p class="centered"><img class="img-rounded" src="~/Content/Images/Preach_My_Gospel.jpg" alt="Preach My Gospel Cover" /></p>
        <p class="centered"><a href="https://www.lds.org/manual/preach-my-gospel-a-guide-to-missionary-service?lang=eng" class="btn btn-primary">Start Studying PMG</a></p>
    </div>
    
    
</div>